<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidrealestateapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controllers.FragmentsController.ViewHouseSecondModel"></activity>
        <activity android:name=".Controllers.FragmentsController.FavoriteList" />
        <activity android:name=".Controllers.FragmentsController.ViewHouse" />
        <activity android:name=".AddUser" />
        <activity android:name=".ChangeUser" />
        <activity
            android:name=".Controllers.MainViewController.Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Controllers.MainViewController.LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.package.name.MyActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>